* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../../../assets/font/ProductSans-Regular.woff') format('woff');
}

.galeri {
  font-family: 'Product Sans';
  color: #8675a9;
  font-weight: bold;
}

.galeri .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.galeri .row .column {
  flex: 25%;
  padding: 0 4px;
}

.galeri .row .column img {
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
}