* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../../../assets/font/ProductSans-Regular.woff') format('woff');
}

.keranjang {
  font-family: 'Product Sans';
  color: #8675a9;
}

.keranjang .wrap-card-keranjang {
  padding-bottom: 6em;
}

.keranjang .wrap-card-keranjang .card-keranjang {
  height: 200px;
  background-color: #8675a9;
  color: #ffffff;
  border-radius: 8px;
  margin-top: 2em;
}

.keranjang .wrap-card-keranjang .card-keranjang .right {
  width: 55%;
  height: 100%;
}

.keranjang .wrap-card-keranjang .card-keranjang .left {
  width: 40%;
  height: 100%;
  background-color: #f3f3f3;
}

.keranjang .wrap-card-keranjang .card-keranjang .left button {
  width: 50%;
  height: 40px;
  border: none;
  background-color: #8675a9;
  color: #ffffff;
  border-radius: 12px;
}

.keranjang .wrap-card-keranjang .card-keranjang .wrap-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom {
  font-family: 'Product Sans';
  color: #ffffff;
  height: auto;
  background-color: #8675a9;
  position: fixed;
  bottom: 0;
  left: 0;
}

.bottom h6 {
  letter-spacing: 2px;
  font-weight: bold;
}

.bottom .right {
  width: 15%;
}

.bottom .right button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #ffffff;
  color: #8675a9;
  font-weight: bold;
}

.keranjang .popup-success {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -2;
}

.keranjang .popup-success .box {
  width: 30%;
  height: 120px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 6px 1px rgba(134, 117, 169, 0.3);
  animation: .3s scaleUp ease-in-out;
}

.keranjang .popup-success .box i {
  font-size: 2.5em;
}

.keranjang .popup-success .box h6 {
  font-weight: bold;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}