* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../../../assets/font/ProductSans-Regular.woff') format('woff');
}

.product {
  font-family: 'Product Sans';
  color: #8675a9;
  position: relative;
}

.product input:focus {
  border: 1px solid #8675a9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px 4px rgba(134, 117, 169, 0.5);
  outline: 0 none;
}

.product .date {
  height: 65px;
}

.product .date input {
  width: 90%;
  color: #8675a9;
}

.product .date button {
  width: 6%;
  height: 100%;
  border-radius: 50%;
  border: none;
  outline: none;
  font-weight: bold;
  box-shadow: 0 0 4px 1px rgba(134, 117, 169, 0.3);
  cursor: pointer;
  font-size: 1.3em;
  background: #ffffff;
  color: #8675a9;
}

.product .wrap-product .card-product {
  width: 100%;
  height: 270px;
  border-radius: 8px;
  box-shadow: 0 0 6px 1px rgba(134, 117, 169, 0.5);
  position: relative;
  overflow: hidden;
  margin-top: 2em;
}

.product .wrap-product .card-product:nth-child(1n+5) {
  margin-top: 2em;
}

.product .wrap-product .card-product .wrap-img {
  width: 100%;
  height: 100%;
  background-color: #c3aed6;
}

.product .wrap-product .card-product .wrap-img img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.product .wrap-product .info-product {
  width: 60%;
  height: 120px;
  background: #ffffff;
  color: #8675a9;
  position: absolute;
  bottom: -5px;
  left: 0;
  border-radius: 0 50% 0 0;
  font-weight: bold;
  word-wrap: break-word;
}

.product .wrap-product .info-product h6 {
  font-size: 1em;
  font-weight: bold;
}

.product .wrap-product .info-product p {
  font-size: .8em;
  font-weight: normal;
}

.product .wrap-product .button-product {
  width: 50%;
  height: 90px;
  background: #ffd5cd;
  color: #8675a9;
  position: absolute;
  bottom: -5px;
  right: 0;
  border-radius: 50% 0 0 0;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
}

.product .wrap-product .button-product button {
  width: 100%;
  height: 100%;
  background: none;
  color: #8675a9;
  border: none;
  cursor: pointer;
  outline: none;
}

.product .popup-success {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -2;
}

.product .popup-success .box {
  width: 30%;
  height: 120px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 6px 1px rgba(134, 117, 169, 0.3);
  animation: .3s scaleUp ease-in-out;
}

.product .popup-success .box i {
  font-size: 2.5em;
}

.product .popup-success .box h6 {
  font-weight: bold;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}